body {
  margin:0;
  padding:0;
  background-size: cover;
  background-color: #f3faff;
  font-family: "Montserrat", sans-serif;
}

top{
  width:100vw;
  height:9vh;
  background-color:white;
  position:fixed;
  z-index:100;
  padding-top:3vh;
  padding-left:6vh;
  border-bottom:1vh solid #27588d;
}

nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: #f3faff;
  justify-content: center;
}

nav ul {
  width: 100vw;
  height: 5vh;
  font-size: 2vw;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position:fixed;
  z-index:100;
  background-color:rgba(255,255,255,0.8);
}

nav ul li{
  font-size: 1.3vw;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

nav ul li a {
  text-decoration: none;
  color:rgba(110, 122, 134, 0.7);
}

.sidenav {
  display: flex;
  justify-content:flex-start;
  position: fixed;
  z-index:100;
  margin-top: 30vh;
  margin-left: 20px;
}

.sidenav ul {
  list-style-type: none;
  position:fixed;
  z-index:100;
}

.sidenav ul img {
  width: 50px;
  height: 50px;
  opacity: 0.7;
}

.sidenav ul li {
  padding: 3px;
  margin-bottom: 20px;
  cursor: pointer;
  height: 50px;
}

.sidenav .hover {
  display: none;
  margin-left: 10px;
  color: #3a3a35;
  opacity: 0.7;
  height: 50px;
}

.sidenav button {
  border: none;
  background: none;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  height: 50px;
}

.header-container{
  background-color: white;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #27588d;
}

.header-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.header-container ul #text1 {
  font-size:5vh;
  font-weight:300;
  margin-bottom: 1vh;
  opacity:0;
}

.header-container ul #text2 {
  font-size: 10vh;
  font-weight: 600;
  text-shadow: -0.2vw 0.2vh 0 #7CC23D;
  opacity:0;
}

.header-container ul .line {
  width: 75vw;
  height: 1px;
  border-bottom: 1px solid #21588E;
  opacity:0;
}

/**FORM**/
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}


.header-container ul #text3 {
  color: #1d1e18;
  text-align: center;
  font-size: 2.4vh;
  margin-top: 7vh;
  margin-bottom: 5vh;
  width:45vw;
  opacity:0;
}

.header-container ul li button {
  border: none;
  background-color:#21588E;
  color: white;
  padding: 15px 15px;
  text-align: center;
  font-size: 2.6vh;
  font-weight:500;
  height:11vh;
  width:25vh;
  cursor: pointer;
  opacity:0;
}

.header-container #imggreen {
  margin-top:120vh;
}

.co2-problem1-container {
  position: relative;
  background-color: white;
  padding-bottom:8vh;
}

.co2-problem1-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.co2-problem1-container #text1 {
  font-size: 5vh;
  font-weight: bold;
  margin-top: 12vh;
  opacity: 0;
}

.co2-problem1-container .line {
  width: 50vw;
  height: 1px;
  border-bottom: 1px solid #000000;
  opacity: 0;
}

.co2-problem1-container #text2 {
  margin-top: 15vh;
  font-size: 2vh;
  text-align: center;
  opacity: 0;
}

.co2-problem1-container img {
  width: 100vw;
}

.co2-problem1-container #img1 {
  position: absolute;
  bottom: 15vh;
}

.co2-problem1-container #img2 {
  position: absolute;
  bottom: 10vh;
}

.co2-problem1-container #img3 {
  position:absolute;
  bottom: 7vh;
}

.co2-problem1-container #img4 {
  position: absolute;
  bottom: 4vh;
}

.co2-problem2-container {
  position: relative;
  background-color: #f3faff;
  height: 180vh;
}

.co2-problem2-container img {
  width: 100vw;
}

.co2-problem2-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.co2-problem2-container #text1 {
  margin-top: 20vh;
  font-size: 2vh;
  text-align: center;
}

.co2-problem2-container #text2 {
  font-size: 1.5vh;
  text-align: center;
  position: absolute;
  left: 4vw;
  top: 47vh;
}

.co2-problem2-container #text3 {
  font-size: 1.5vh;
  text-align: center;
  position: absolute;
  left: 26vw;
  top: 60vh;
}

.co2-problem2-container #text4 {
  font-size: 1.5vh;
  text-align: center;
  position: absolute;
  left: 35vw;
  top: 47vh;
}

.co2-problem2-container #text5 {
  font-size: 1.5vh;
  text-align: center;
  position: absolute;
  right: 36vw;
  top: 60vh;
}

.co2-problem2-container #text6 {
  font-size: 1.5vh;
  text-align: center;
  position: absolute;
  right: 22vw;
  top: 47vh;
}

.co2-problem2-container #text7 {
  font-size: 1.5vh;
  text-align: center;
  position: absolute;
  right: 7vw;
  top: 60vh;
}

.co2-problem2-container #text8 {
  font-size: 3vh;
  color: #eef5f9;
  font-weight: bold;
  position: absolute;
  left: 19vw;
  bottom: 60vh;
}

.co2-problem2-container #text9 {
  font-size: 3vh;
  color: #eef5f9;
  font-weight: bold;
  position: absolute;
  right: 23vw;
  bottom: 60vh;
}

.co2-problem2-container #img1 {
  position: absolute;
  bottom: 0vh;
}

.co2-problem2-container #img2 img{
  width: 5vw;
  position: absolute;
  left: 37vw;
  top: 80vh;
}

.co2-problem2-container #img3 img {
  width: 0.2vw;
  position:absolute;
  bottom:3vh;
  left: 90vh;
}

.co2-problem2-container #img4 img{
  width: 1vw;
  position: absolute;
  right: 26vw;
  top: 69vh;
}

.co2-problem2-container #img5 img{
  width: 5vw;
  position: absolute;
  right: 9vw;
  top: 95vh;
}

.cloud-transition-container {
    height: 80vh;
    position: relative;
}
.cloud-transition-container img {
  width: 100vw;
}

.cloud-transition-container #cloud-transition1{
  position: absolute;
  bottom: -30vh;
}

.cloud-transition-container #cloud-transition2{
  position: absolute;
  bottom: -8vh;
}

.cloud-transition-container #cloud-transition3{
  position: absolute;
  bottom: -15vh;
}

.cloud-transition-container #sun-transition{
  position: absolute;
  bottom: 10vh;
  right: 28vw;
}

.cloud-transition-container #sun-transition img {
  width: 15vh;
}

.mountain-transition-container {
  position: relative;
  height: 200vh;
}

.mountain-transition-container img {
  width: 100vw;
}

.mountain-transition-container #mt1{
  position:absolute;
  bottom:75vh;
}

.mountain-transition-container #mt2{
  position:absolute;
  bottom:10vh;
  left: 30vw;
}

.mountain-transition-container #mt3{
  position:absolute;
  bottom:-3vh;
  left: 30vh;
}

.mountain-transition-container #mt4{
  position:absolute;
  bottom:9vh;
}

.mountain-transition-container #mt5{
  position:absolute;
  bottom:88vh;
}

.mountain-transition-container #mt6{
  position:absolute;
  bottom:4vh;
}

.mountain-transition-container #tent img {
  width: 20vw;
  position:absolute;
  right: 10vw;
  bottom:90vh;
}

.mountain-transition-container #doctxt {
  color: #ffffff;
  text-align: right;
  position: absolute;
  right: 56vw;
  top: 46vh;
  font-size: 3vh;
}

.mountain-transition-container #doctxt .bold {
  font-size: 3.3vh;
  font-weight: 700;
}

.mountain-transition-container #circle0 img {
  width: 2.3vw;
  position:absolute;
  right: 31vw;
  top: 85vh;
}

.mountain-transition-container #circle1 img {
  width: 4vw;
  position:absolute;
  right: 35vw;
  top: 80vh;
}

.mountain-transition-container #circle2 img {
  width: 7vw;
  position:absolute;
  right: 33vw;
  top: 64vh;
}

.mountain-transition-container #circle3 img {
  width: 17vw;
  position:absolute;
  right: 36vw;
  top: 35vh;
}

.mountain-transition-container #text{
  position:absolute;
  bottom:46vh;
  height: 45vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mountain-transition-container #text1{
  font-size: 10vh;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.mountain-transition-container .line{
  width: 75vw;
  height: 1px;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}

.mountain-transition-container #text2{
  font-size: 3.3vh;
  color: #ffffff;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.mountain-transition-container #text3{
  font-size: 3.3vh;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.mountain-transition-container #mt7{
  position:absolute;
  bottom:-55vh;
}

.mountain-transition-container #mt8{
  position:absolute;
  bottom:-78vh;
}

.mountain-transition-container #mt9 img {
  width: 65vw;
  position:absolute;
  left: 23vw;
  bottom:-53vh;
}

.mountain-transition-container #mt10 img {
  width: 60vw;
  position:absolute;
  right: 0;
  bottom:-65vh;
}

.mountain-transition-container #mt11 {
  position:absolute;
  bottom:-120vh;
}

.spaceholder {
  height: 130vh;
}

.doc-data-container {
  height: 150vh;
}

.form-container{
  width:100%;
}

.doc-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.doc-data-container #text1 {
  font-size: 5vh;
  font-weight: bold;
  margin-top: 12vh;
}

.doc-data-container #text2 {
  margin-top: 3vh;
}

.doc-data-container .line {
  width: 50vw;
  height: 1px;
  border-bottom: 1px solid #000000;
  margin-bottom: 5vh;
}

.end-container {
  height: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.end-container img {
  width: 100vw;
}

.end-container #bottom {
  position: absolute;
  bottom: 0;
}

.end-container .logo {
  position: absolute;
  width: 20vw;
  bottom: 20vh;
  margin-left: -19vh;
}

.end-container #text1 {
  position: absolute;
  bottom: 15vh;
  color: #ffffff;
}


.end-container {
  height: 30vh;
  background-color:#606d5d;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  color:white;
  font-weight:300;
  font-size:2vh;
}

.end-container-content{
  width:100vw;
}

.end-container .logoo {
  margin-left: 0vh;
  width:14%;
}

.left{
  text-align:center;
  float:left;
  padding-top:3vh;
  margin-left:5vh;
}

.left linkcenter{
  text-align:left;
}

.right{
  float:right;
  text-align:center;
  padding-top:3vh;
  margin-right:5vh;

}

.centered{
  text-align:center;
  padding-top:3vh;
}

.centered design{
  margin-left:-24vw;
}


.chart-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
}

.calc-container{
  margin: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.calc {
  background-color: #ffffff;
  text-align: center;
}

.calc table th {
  font-size: 3vh;
}

.plane-container{
  background-color: #ffffff;
  text-align: center;
}

.plane-container #title {
  font-size: 5vh;
}

.chart-container {
  width: 56vw;
  margin-bottom: 5vh;
}

.chart-container2 {
  width: 40vw;
}

.chart-container3 {
  width: 40vw;
  margin-left: 3vw;
}

.flight-container {
  height: 150vh;
}

.flight-wrapper {
  position: relative;
}

.flight-container #text1 {
  font-size: 5vh;
  font-weight: bold;
  margin-top: 40vh;
}

.flight-container .line {
  width: 50vw;
  height: 1px;
  border-bottom: 1px solid #000000;
  margin-bottom: 5vh;
}

.flight-container img #bottom {
}

.flight-container img #lp {
  position: absolute;
  bottom:20vh;
}
